*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

footer{
    background-color: #8801fe ;
    margin-top: 10px;
    height: calc(6% - 20px);
}

ul li{
    display: inline;
    list-style: none;
    text-transform: uppercase;

}

ul li,
header img{
    color:#c6c6c6
}

nav ul{
    word-spacing: 15px;
}

header img{
    height: 53%;
    margin-bottom: 37px;
    border-right: 1px solid;
    padding-right: 16px;
}

.long{
    width: 100%;

}

.fluttuanti{
    float: left;
}

.container{
    width: 80%;
    height: 1300px;
    margin: 0 auto;
    min-width: 500px;

}


.top-menu{
    height: calc(15% - 20px);
}

.jambotron{
    background-image: url(../img/banner.jpg);
    background-color: rgba(0, 0, 0, .2) ;
    background-blend-mode: darken;
    height: calc(45% - 20px);
    color: white;
    position: relative;
}

section.jambotron h1, p{
    position: absolute;
    left: 50px;
}

section.jambotron  h1{
    bottom: 110px;
    width: 40%;
}

section.jambotron p{
    bottom: 10px;
}

.gutter-top{
    margin-top: 20px;
}

.main-content{
    background-color: #0087ff;
    height: calc(50% - 20px);
}

.main-center{
    width: 60%;
    height: calc(80% - 20px);
    margin: 20px;
    
}

.main-side{
    width: calc(20% - 20px) ;
    height: calc(80% - 20px);
}

.back-content{
    background-color: #abcfe7;
}

.main-right{
    float: right;
}

#h-main{
    height: calc(20% - 20px);
}
    


